// css classes here are mostly on divs if not qualified

$hue-pick: hue($c-primary);
$hue-correct: hue($c-secondary);
$c-contrast-font: if($theme-light, #444, #ddd);
$c-box-border: if($theme-light, #ddd, #484848);
$c-bg-hover: $c-box-border;
$c-neutral: if($theme-light, #ccc, #777);
$gap: 8px; // needs to be independent of font-size, adjust to space things out.

%lighten-hover {
  color: $c-contrast-font;

  &:hover {
    box-shadow: inset 0 0 1px 100px hsla(0, 0%, 100%, if($theme-light, 0.3, 0.1));
  }
}

div.ask-container {
  display: flex;
  &.stretch {
    flex-direction: column;
    align-items: stretch;
  }
}

fieldset.ask {
  margin-bottom: 1em;
  padding: 0 (3 * $gap) $gap (2 * $gap);
  font-size: 1em;
  line-height: normal;
  border: solid 1px $c-box-border;
  & > * {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}

legend.ask__header {
  display: block;
  margin-top: 1em;

  label {
    margin: 0 $gap;
    padding-bottom: $gap;
    font-size: 1.4em;
  }
  button.action {
    @extend %data-icon;
    margin-#{$end-direction}: $gap / 2;
    margin-bottom: $gap;
    background: none;
    border: none;
    outline: none;
    opacity: 1;
    cursor: pointer;

    &::before {
      vertical-align: top;
      font-size: 1.2em;
    }

    &.admin {
      color: $c-link;
      &::before {
        content: '';
      }
      &:hover {
        color: $c-link-hover;
      }
    }
    &.unset {
      color: if($theme-light, #f66, #c33);
      &::before {
        content: '';
      }
      &:hover {
        color: if($theme-light, #c33, #f66);
      }
    }
  }
}

div.ask__footer {
  margin: $gap 0 $gap;
  flex-direction: column;
  align-items: stretch;

  label {
    margin: 0 0 $gap $gap;
  }

  & > div {
    display: flex;
    align-items: center;

    input.feedback {
      margin: 0 0 $gap $gap;
      padding: 0.4em 0.4em;
      flex: auto;
    }
  }
}

div.ask__submit {
  @extend %data-icon, %flex-around;
  flex: initial;
  visibility: hidden;

  input {
    margin: 0 0 $gap (2 * $gap);
    padding: $gap 1.2em;
    font-size: 1em;
  }

  &.success {
    visibility: visible;
    color: $c-secondary;

    & > input {
      visibility: hidden;
    }

    &::after {
      position: absolute;
      content: '';
    }
  }

  &.dirty {
    visibility: visible;
  }
}

div.ask__choices {
  margin: $gap 0 $gap 0;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;

  .choice,
  .exclusive-choice,
  .ranked-choice {
    @extend %metal, %box-radius;
    margin: 0 0 $gap $gap;
    padding: $gap (2 * $gap);
    flex: initial;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    user-select: none;

    label {
      pointer-events: none;
    }

    &.stretch {
      flex: auto;
    }
  }

  .ranked-choice {
    @extend %lighten-hover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: move;

    &.dragging {
      opacity: 0.3;
    }

    div {
      margin: 0;
      visibility: hidden;
    }
    &.badge > div:first-child {
      margin-#{$start-direction}: -$gap;
      margin-#{$end-direction}: $gap;
      width: 1.7em;
      height: 1.7em;
      visibility: visible;
      border-radius: 100%;
      background: $c-secondary; // #464646;
      border: 1px solid if($theme-light, #aaa, #666);
      color: if($theme-light, #ddd, #000); //$c-contrast-font;
      text-align: center;
      font-size: 0.7em;
      font-weight: bold;
    }
    &:not(.badge) > label::after {
      @extend %data-icon;
      margin-#{$start-direction}: $gap;
      margin-#{$end-direction}: -$gap;
      vertical-align: sub;
      opacity: 1;
      color: $c-neutral;
      content: '';
    }
    @if $theme == 'transp' {
      background: hsla(0deg, 0%, 50%, 0.3);
    }
  }

  hr {
    margin: 0 0 $gap ($gap / 2);
    width: 100%;
    height: 2px;
    display: block;
    border-top: 1px solid $c-neutral;
    border-bottom: 1px solid $c-box-border;
  }

  .cursor {
    margin: 0 0 0 $gap;
    padding: 0;
    width: 2 * $gap;
    text-align: center;

    &::after {
      @extend %data-icon;
      font-size: 2.1em;
      margin-#{$start-direction}: -$gap;
      color: if($theme-light, #bbb, $c-font);
      text-align: center;
      content: '';
    }
  }

  .enabled,
  .selected {
    @extend %lighten-hover;
    cursor: pointer;

    @if $theme-light {
      background: linear-gradient(hsl(0deg, 0%, 96%) 0%, hsl(0deg, 0%, 90%) 100%);
    } @else if $theme == 'dark' {
      background: linear-gradient(hsl(0deg, 0%, 27%) 0%, hsl(0deg, 0%, 19%) 100%);
    } @else {
      background: hsla(0deg, 0%, 50%, 0.3);
    }
  }

  .selected {
    color: white;
    background: linear-gradient(hsl(209, 79%, 58%) 0%, hsl(209, 79%, 52%) 100%);
  }

  .disabled,
  .wrong {
    background: none;
  }

  .correct {
    color: white;
    background: linear-gradient(hsl(88deg, 62%, 44%) 0%, hsl(88deg, 62%, 38%) 100%);
  }

  .wrong {
    // transforms for the red x on wrong answers
    position: relative;

    &:before,
    &:after {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 5em;
      height: 4px;
      background: hsla(0, 100%, 60%, 0.5);
      transform: translate(-50%, -50%) rotate(-20deg);
      content: '';
    }

    &:after {
      transform: translate(-50%, -50%) rotate(20deg);
    }
  }

  &.stretch {
    align-items: stretch;
  }

  &.vertical {
    flex-flow: column;
  }

  &.center {
    align-items: center;
    justify-content: center;
  }
}

div.ask__bar-graph {
  flex: auto;

  * {
    box-sizing: border-box;
  }

  .bar {
    min-width: 0.2em;
    background: $c-primary;
  }

  table {
    border-collapse: collapse;
  }

  td {
    padding: 0 0 0.4em 0;
    white-space: nowrap;
  }

  td:first-child {
    width: 0;
    padding-left: 0.6em;
    padding-right: 1.6em;
  }

  td:nth-child(2) {
    width: 0;
    padding-right: 1.6em;
    text-align: right;
  }

  td:last-child {
    width: 100%;
    user-select: none;
    padding-right: 0.6em;
  }
}
